<template>

	<div class="titlesSpace">

		<div class="titlesSpaceViewport">

			<h1 class="titlesIntro">
				Just now, in an IT industry close to you....
			</h1>

			<h1 class="titlesHeader">
				sap.m
				<sub>Explored</sub>
				<p>(Without Animations in Internet Explorer 9)</p>
			</h1>

			<div class="titlesText">

				<p class="caption">Episode V</p>
				<p>It is a period of HTML becoming a standard UI technology.
					SAP's UI5 has won it's first battles against evil proprietary forces.
					Pursued by agents of native technologies the sap.m library now advances to mobile devices.
					This app gives a quick overview of the arsenal at hand:</p>

				<p class="caption">Action</p>
				<p>Your users need to trigger an action to restore freedom to the galaxy? Use these controls.
				</p>

				<p class="caption">Container</p>
				<p>Don't scatter your controls all around the place.
					A proper layout might hide you from the dispatched empires remote probes.
				</p>

				<p class="caption">Display</p>
				<p>Don't hide information but display them to the small band of your rebel users.
				</p>

				<p class="caption">Input</p>
				<p>Sooner or later you need some user input leading the way.
				</p>

				<p class="caption">List</p>
				<p>Lists are very common in the mobile world.
					They arrange a set of items in a vertical layout keeping evil disarrangement at bay. 
				</p>

				<p class="caption">List Items</p>
				<p>sap.m provides a basic set of predefined list items....
					and the custom list item gives you all the flexibility necessary.
				</p>

				<p class="caption">Popups</p>
				<p>There is no good application without popups.
				</p>

				<p class="caption">Table</p>
				<p>The responsive table is one of our very secret weapons ready to deliver the final blow when goings get tough.
				</p>

				<p>....may the force and good luck be with you.</p>

			</div>

		</div>

	</div>
</template>