
#custom1, #custom2, #custom3, #custom4, #custom5, #custom6, #custom7, #custom8 {
	margin: 0.5em 0 0.5em 0.5em;
}

.navContainerControl {
	margin-bottom: 1em;
	border-color: #888;
	border-style: solid;
	border-width: 0.0625em;
}

pre {
	padding: 1em;
}

code {
	font-family: Consolas, Courier, monospace;
	font-size: 0.85em;
}

.description {
	background-color: #FFFFDD;
	border-color: #DDDDDD;
	border-width: 1px;
	border-style: solid;
	padding: 0.5em;
	border-radius: 0em;
	max-width: 25em;
}

/* Margins for All */
.marginOnlyTop {
	margin-top: 1em;
}
.marginAll {
	margin: 1em;
}
.marginNone {
	margin: 0em;
}
.marginNoBottom {
	margin: 1em 1em 0em 1em;
}

.marginNoTop {
	margin: 0em 1em 1em 1em;
}

.marginTopBottom {
	margin: 1em 0em 1em 0em;
}

/* Margins for content in Vertical Layout */
.marginVerticalContent.sapUiVlt {
	margin: 1em;
}
.marginVerticalContent .sapUiVltCell:not(:first-child) {
	margin-top: 1em;
}

/* Margins for content in VBox */
.sapMVBox.marginBoxContent{
	padding: 1em;
}
.marginBoxContent .description {
	margin-top: 1em;
} 
.sapMPage.marginBoxContent > section > .sapMPageScroll{
	padding: 1rem;
}