#header {
	width: 100%;
	height: 80px;
	background-color: #666666;
	text-align: center;
	margin: 0px auto;
	display: inline-block;
}

#body {
	width: 100%;
	margin: 0px auto;
	background-color: #F2F2F2;
}

#footer {
	width: 100%;
	height: 60px;
	background-color: #666666;
	text-align: center;
	margin: 20px auto 0px auto;
	display: inline-block;
}

.showArea {
	width: 100%;
	height: 228px;
	margin: 0 auto 40px auto;
	display: inline-block;
	float: left;
	background-color: #F2F2F2;
}

.items {
	border-radius: 2px;
	border: solid 1px #E5E5E5;
	height: 188px;
	width: 188px;
	margin: 0px auto;
	background-color: #FFFFFF;
	float: left;
	margin-left: 8px
}

.item_pages {
	overflow-x: scroll;
	overflow-y: hidden;
	height: 228px; width : 100%;
	display: inline-block;
	margin: 0 auto;
	width: 100%;
}

.item_page {
	float: left;
}

.splitTitle {
	width: 125px;
	background-color: #AAAAAA;
	z-index: 500;
	height: 35px;
	text-align: center;
	position: absolute;
	border-radius: 0 0 10px 0;
	border: solid 1px #888888;
}

.splitLine {
	width: 100%;
}

.showChart {
	height: 300px;
	width:90%;
	display: none;
	border: solid 1px #AAAAAA;
	margin: 0 5% 20px 5%;
	border-radius: 2px;
}

.selectItems {
	margin-top: 40px;
	height: 100%;
	width: 100%;
	display: inline-block;
	background-color: #F2F2F2;
}

.titleName {
	margin-top: 25px;
	display: inline-block;
	color: #FFFFFF;
	font-size: 23px;
	font-weight: bolder;
}

.splitName {
	margin-top: 25px;
}

.item_title_div {
	margin: 7px auto 8px auto;
}

.item_title_txt {
	height: 18px;
	font-family: Arial, Helvetica, Sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: grey;
	
}

.item_subtitle_txt {
	font-family: Arial, Helvetica, Sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #333333;
	height: 18px;
	margin: 0px 8px;
	display:none;
}

.item_img {
	height: 122px;
	width: 172px;
	margin: 4px 8px;
	
}

.item_splitline {
	height: 1px;
	background-color: #E5E5E5;
	width: 100%;
	margin-top: 4px;
}