<template data-controller-name="view.LrCalendar">
	<div data-sap-ui-type="sap.m.Page" data-enable-scrolling="false">
		<div data-sap-ui-aggregation="content">
			<div data-sap-ui-type="sap.ui.core.mvc.HTMLView" data-view-name="view.LrCalendarOnly">
			</div>
		</div>
		<div data-sap-ui-aggregation="customHeader">
			<div data-sap-ui-type="sap.m.Bar">
				<div data-sap-ui-aggregation="contentLeft">
					<div data-sap-ui-type="sap.m.Button" data-type="Back" data-press="back">
					</div>
				</div>
				<div data-sap-ui-aggregation="contentMiddle">
					<div data-sap-ui-type="sap.m.Label" data-text="Team Calendar">
					</div>
				</div>
			</div>
		</div>
		<div data-sap-ui-aggregation="footer">
			<div data-sap-ui-type="sap.m.Bar">
			</div>
		</div>
	</div>
</template>