body{
	margin: 0;
	padding: 0;
}
.experienceBar{
	width:300px;
	height:32px;
	background-color: #000000;
	color:#ffffff;
}

.experienceBar>div{
	float: left;
	margin-right: 10px;
}

.experienceBar_create{
	background-color:#ccc;
}

.clear{
	clear:both;
}