html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0
}

pre {
	margin: 0;
	padding: 0.4375em;
	background-color: #FFFFEE;
}
code {
	font-family: Consolas, Courier, monospace;
	font-size: 0.85em;
}
section[id^="CODE_"] {
	background-color: #FFFFEE;
}
.sapMFlexBox {
	background-color: #e1e1e1;
}
.sapMScrollContScroll {
	width: 100%;
}

/*======== basicAlignment ========*/
#basicAlignment h2 {
	margin: 2em 5% 0;
}
#basicAlignment .code {
	margin: 0 5%;
	font-family: Consolas, Courier, monospace;
}
#basicAlignment .sapMFlexBox {
	width: 90%;
	height: 300px;
	margin: 1em auto;
	padding: 5px;
}
#basicAlignment .sapMFlexItem {
	border: 1px dashed red;
	background-color: #aaaaaa;
	margin: 3px;
	padding: 3px;
}

/*======== equalColumns ========*/
#equalColumns #columns {
	min-height: 200px;
}

#equalColumns #column1 {
	background-color: #d1dbbd;
	width: 0;
	margin: 0 5px;
	padding: 10px;
}
#equalColumns #column2 {
	background-color: #91aa9d;
	width: 0;
	margin: 0 5px;
	padding: 10px;
}
#equalColumns #column3 {
	background-color: #3e606f;
	width: 0;
	margin: 0 5px;
	padding: 10px;
}
#equalColumns .code {
	font-family: Consolas, Courier, monospace;
}

/*======== elementOrder ========*/
#elementOrder h2 {
	margin: 2em 5% 0;
}
#elementOrder .code {
	margin: 0 5%;
	font-family: Consolas, Courier, monospace;
}
#elementOrder .sapMFlexBox {
	width: 90%;
	height: 300px;
	margin: 1em auto;
	padding: 5px;
}
#elementOrder .sapMFlexItem {
	border: 1px dashed red;
	background-color: #aaaaaa;
	margin: 3px;
	padding: 3px;
}

/*======== sizeAdjustments ========*/
#sizeAdjustments h2 {
	margin: 2em 5% 0;
}
#sizeAdjustments .code {
	margin: 0 5%;
	font-family: Consolas, Courier, monospace;
}
#sizeAdjustments .sapMFlexBox {
	width: 90%;
	height: 300px;
	margin: 1em auto;
	padding: 5px;
}
#sizeAdjustments .sapMFlexItem {
	border: 1px dashed red;
	background-color: #aaaaaa;
	margin: 3px;
	padding: 3px;
}
#sizeAdjustments #sa-flexbox4 .sapMFlexItem,
#sizeAdjustments #sa-flexbox5 .sapMFlexItem {
	width: 0;
}

/*======== navigationExamples ========*/
#navigationExamples h2 {
	margin: 2em 5% 0;
}
#navigationExamples .code {
	margin: 0 5%;
	font-family: Consolas, Courier, monospace;
}
#navigationExamples #ne-flexbox1 {
	margin: 0.4em 5%;
	padding: 1em 0;
	width: auto;
	min-height: 3em;
}
#navigationExamples #ne-flexbox1 li{
	margin: 0.4em;
	padding: 0.4em 1.3em;
	list-style-type: none;
	text-align: center;
	background-color: #193441;
}
#navigationExamples #ne-flexbox1 li:hover {
	background-color: orange;
}
#navigationExamples #ne-flexbox2 {
	margin: 0.4em 5%;
	padding: 1em 0;
	width: auto;
	min-height: 3em;
}
#navigationExamples #ne-flexbox2 li {
	margin: 0.5em;
	width: 25%;
	min-width: 15%;
	list-style-type: none;
	text-align: center;
	background-color: #193441;
	padding: 0.4em;
	-webkit-transition: width 0.5s ease-out, background-color 0.5s ease-out;
}
#navigationExamples #ne-flexbox2 li:hover {
	width: 35%;
	background-color: orange;
}
#navigationExamples #ne-flexbox1 li a,
#navigationExamples #ne-flexbox2 li a {
	color: #fff;
	text-decoration: none;
	font-size: 0.7em;
}

/*======== opposingAlignment ========*/
#opposingAlignment h2 {
	margin: 2em 5% 0;
}
#opposingAlignment .code {
	margin: 0 5%;
	font-family: Consolas, Courier, monospace;
}
#opposingAlignment .sapMFlexBox {
	width: 90%;
	height: 300px;
	margin: 1em auto;
	padding: 5px;
}
#opposingAlignment .sapMFlexItem {
	border: 1px dashed red;
	background-color: #aaaaaa;
	margin: 3px;
	padding: 3px;
}
#opposingAlignment #oa-item3 {
	margin-left: auto;
	margin-right: 128px;
}

/*======== fitViewport ========*/
#fitViewport .sapMFlexItem {
	padding: 1em;
}
#fitViewport #fv-item1 {
	background-color: #d1dbbd;
}
#fitViewport #fv-item2 {
	background-color: #91aa9d;
}

/*======== nestedFlexboxes ========*/
#nestedFlexboxes #nf-item1 {
	padding: 1em;
	background-color: #d1dbbd;
}
#nestedFlexboxes #nf-item2 {
	padding: 1em;
	background-color: #7D8A2E;
}
#nestedFlexboxes #nf-item3 {
	padding: 1em;
	background-color: #C9D787;
}
#nestedFlexboxes #nf-item4 {
	padding: 1em;
	background-color: #FFFFFF;
}
#nestedFlexboxes #nf-item5 {
	padding: 1em;
	background-color: #FFC0A9;
}
#nestedFlexboxes #nf-item6 {
	padding: 1em;
	background-color: #FF8598;
}